<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvxc.user.mapper.flw.SysPlatformMapper">

    <select id="getList" resultType="com.lvxc.user.entity.SysPlatform">
        SELECT DISTINCT t1.* from sys_platform t1 LEFT JOIN sys_role_platform t2 on t1."id"  = t2.platform_id
                                                  LEFT JOIN sys_user_role t3 on t3.role_id = t2.role_id
        <where>
            <if test="userId != null and userId != ''">
                t3.user_id = #{userId}
            </if>
        </where>
        ORDER BY t1.sort_order,t1.update_time DESC
    </select>

</mapper>